<!-- templates/sidebars/admin_sidebar.html -->

<ul class="nav flex-row justify-content-center align-items-center w-100">
    <li class="nav-item mb-3">
        <a class="nav-link text-white d-flex justify-content-center" href="/home" title="Home">
            <i class="fas fa-home fa-lg"></i>
        </a>
    </li>
    <li class="nav-item mb-3">
        <a class="nav-link text-white d-flex justify-content-center" href="#" title="Users" onclick="loadContent('/users'); return false;">
            <i class="fas fa-users fa-lg"></i>
        </a>
    </li>
    <li class="nav-item mb-3">
        <a class="nav-link text-white d-flex justify-content-center" href="#" title="Clients" onclick="loadContent('/clients'); return false;">
            <i class="fas fa-user-tie fa-lg"></i>
        </a>
    </li>
    <li class="nav-item mb-3">
        <a class="nav-link text-white d-flex justify-content-center" href="#" title="Deposits" onclick="loadContent('/deposits'); return false;">
            <i class="fas fa-university fa-lg"></i>
        </a>
    </li>
    <li class="nav-item mb-3">
        <a class="nav-link text-white d-flex justify-content-center" href="#" title="Deposit Logs">
            <i class="fas fa-clipboard-list fa-lg"></i>
        </a>
    </li>
</ul>
