html, body {
    height: 100%;
    margin: 0;
    overflow: visible; 
    font-family: Arial, sans-serif;
}

.wrapper {
    padding-top: 53px; 
    overflow: visible; 
    display: flex; 
}

.sidebar {
    width: 60px; 
    height: calc(100vh - 53px);
    background-color: #1e1e2f;
    color: white;
    position: fixed;
    top: 53px; 
    left: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    overflow: visible; 
    z-index: 1000; 
}

.main-content {
    margin-left: 60px;
    overflow: visible; 
    padding: 20px;
    position: relative; 
}


.flash-container {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1030;
    width: 90%;
    max-width: 600px;
  }