html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.wrapper {
    padding-top: 53px; 
}

.sidebar {
    width: 60px; 
    height: calc(100vh - 53px);
    background-color: #1e1e2f;
    color: white;
    position: fixed;
    top: 53px; 
    left: 0;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
}

.main-content {
    margin-left: 60px; 
    padding-top: 53px;
    overflow-y: auto;
    padding: 20px;
}
