{% extends "base.html" %}

{% block content %}

<!-- Hidden Change Password Form -->
<div id="password-form" class="card shadow p-4"
    style="display: block; max-width: 700px; margin-top: -20px; margin-left: auto; margin-right: auto; height: 250px;">
    <!-- Close Button -->
    <button type="button" class="btn-close position-absolute" style="top: 10px; right: 10px;" aria-label="Close"
        onclick="loadContent('/users')"></button>

    <!-- Title -->
    <h5 class="text-center mb-4 mt-2">Change Password for {{ user.username }}</h5>

    <!-- Form -->
    <form action="{{ url_for('bp.change_user_password_post') }}" method="POST">
        <input type="hidden" name="user_id" value="{{ user.id }}">

        <!-- New Password -->
        <div class="row mb-4 align-items-center">
            <div class="col-sm-4 text-start">
                <label class="form-label mb-0">New Password<span class="text-danger">*</span></label>
            </div>
            <div class="col-sm-8">
                <div class="d-flex align-items-center">
                    <input type="password" class="form-control me-2" id="newPassword" name="new_password" required
                        placeholder="New Password" style="width: 95%;">
                    <button type="button" onclick="toggleVisibility('newPassword')"
                        class="btn btn-outline-secondary btn-sm">👁</button>
                </div>
            </div>
        </div>

        <!-- Confirm New Password -->
        <div class="row mb-4 align-items-center">
            <div class="col-sm-4 text-start">
                <label class="form-label mb-0">Confirm Password<span class="text-danger">*</span></label>
            </div>
            <div class="col-sm-8">
                <div class="d-flex align-items-center">
                    <input type="password" class="form-control me-2" id="confirmNewPassword" name="confirm_password"
                        required placeholder="Confirm New Password" style="width: 95%;">
                    <button type="button" onclick="toggleVisibility('confirmNewPassword')"
                        class="btn btn-outline-secondary btn-sm">👁</button>
                </div>
            </div>
        </div>

        <!-- Submit -->
        <div class="row mt-4">
            <div class="col-sm-8 offset-sm-4">
                <button type="submit" class="btn btn-primary w-100">Change Password</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}